/dts-v1/;
/plugin/;

/ {
  compatible = "ti,beaglebone", "ti,beaglebone-black","ti,am335x-bone-black-wireless";

  /* identification */
  part-number = "OPENWEARABLE";
  version = "00A0";

  /* state the resources this cape uses */
  exclusive-use =

    /**** pru1 GPIO pins ****/
    "P8.27",  /* pr1_pru1_pru_[r30_8 | r31_8] ---- DEBUG OUT */
    "P8.28",  /* pr1_pru1_pru_[r30_10 | r31_10] */
    "P8.29",  /* pr1_pru1_pru_[r30_9 | r31_9] */
    "P8.30",  /* pr1_pru1_pru_[r30_11 | r31_11] */
    "P8.39",  /* pr1_pru1_pru_[r30_6 | r31_6] ---- b1 */
    "P8.40",  /* pr1_pru1_pru_[r30_7 | r31_7] ---- b2 */
    "P8.41",  /* pr1_pru1_pru_[r30_4 | r31_4] */
    "P8.42",  /* pr1_pru1_pru_[r30_5 | r31_5] */
    "P8.43",  /* pr1_pru1_pru_[r30_2 | r31_2] ---- pam */
    "P8.44",  /* pr1_pru1_pru_[r30_3 | r31_3] ---- pam */
    "P8.45",  /* pr1_pru1_pru_[r30_0 | r31_0] ---- pam */
    "P8.46",  /* pr1_pru1_pru_[r30_1 | r31_1] ---- pam */

    /**** pru0 GPIO pins ****/
    "P9.27",  /* pr1_pru0_pru_[r30_5 | r31_5] ---- DEBUG OUT */

    /**** CPU GPIO pins ****/
    "P9.13", /* gpio0[31] ---- DEBUG OUT */

    /**** I2C1 pins ****/
    "P9.17",  /* I2C1_SCL */
    "P9.18",  /* I2C1_SDA */

    /**** I2C2 pins ****/
    "P9.21",  /* I2C2_SCL */
    "P9.22",  /* I2C2_SDA */

    /**** SPI1 pins ****/
    "P9.28",  /* SPI1_CS0 */
    "P9.42",  /* SPI1_CS1 */
    //"P9.19", /* SPI1_CS1 */
    //"P9.20", /* SPI1_CS0 */
    "P9.29",  /* SPI1_D0 */
    "P9.30",  /* SPI1_D1 */
    "P9.31",  /* SPI1_SCLK */

    /**** PWM pins ****/
    "P8.19",  /* ehrpwm2A */

    /* the hardware IP uses */
    "ehrpwm2A",
    "i2c1",
    "i2c2",
    "spi1",
    "pruss";

    /*----- pin mux cheat sheet -----*/
    /* Bit 6 - SLEWCTRL - 0 (fast) | 1 (slow)
     * Bit 5 - RXACTIVE - 0 (reciever disable) | 1 (reciever enable)
     * Bit 4 - PULLTYPESEL - 0 (pulldown) | 1 (pullup)
     * Bit 3 - PULLUDEN - 0 (enable) | 1 (disable)
     * Bit 2-0 - MUXMODE
     */

  /*----- pin mux -----*/
  fragment@0 {
    target = <&am33xx_pinmux>;
    __overlay__ {

      pruss_pins: pinmux_pruss_pins {
        pinctrl-single,pins = <
          0x0E0 0x05  /* P8.27 - pr1_pru1_pru_r30_8,  MODE5 | OUTPUT | PD */
          0x0E8 0x05  /* P8.28 - pr1_pru1_pru_r30_10, MODE5 | OUTPUT | PD */
          0x0E4 0x05  /* P8.29 - pr1_pru1_pru_r30_9,  MODE5 | OUTPUT | PD */
          0x0EC 0x05  /* P8.30 - pr1_pru1_pru_r30_11, MODE5 | OUTPUT | PD */
          /* 0x0B8 0x05  P8.39 - pr1_pru1_pru_r30_6,  MODE5 | OUTPUT | PD */
          0x0B8 0x26  /* P8.39 - pr1_pru1_pru_r31_6,  MODE6 | INPUT | PD */
          /* 0x0BC 0x05  P8.40 - pr1_pru1_pru_r30_7,  MODE5 | OUTPUT | PD */
          0x0BC 0x26  /* P8.40 - pr1_pru1_pru_r31_7,  MODE6 | INPUT | PD */
          0x0B0 0x05  /* P8.41 - pr1_pru1_pru_r30_4,  MODE5 | OUTPUT | PD */
          0x0B4 0x05  /* P8.42 - pr1_pru1_pru_r30_5,  MODE5 | OUTPUT | PD */
          0x0A8 0x05  /* P8.43 - pr1_pru1_pru_r30_2,  MODE5 | OUTPUT | PD */
          0x0AC 0x05  /* P8.44 - pr1_pru1_pru_r30_3,  MODE5 | OUTPUT | PD */
          0x0A0 0x05  /* P8.45 - pr1_pru1_pru_r30_0,  MODE5 | OUTPUT | PD */
          0x0A4 0x05  /* P8.46 - pr1_pru1_pru_r30_1,  MODE5 | OUTPUT | PD */
          0x1A4 0x05  /* P9.27 - pr1_pru0_pru_r30_5,  MODE5 | OUTPUT | PD */
          0x074 0x07  /* P9.13 - gpio0[31],           MODE7 | OUTPUT | PD */
        >;
      };

      spi_pins: pinmux_spi_pins {
        pinctrl-single,pins = <
          0x19C 0x13  /* P9.28 - spi1_cs0,  MODE3 | OUTPUT_PULLUP */
          0x164 0x12  /* P9.42 - spi1_cs1, MODE2 | OUTPUT_PULLUP */
          0x1A0 0x06  /* P9.42 alternate mux -- set as input */
          0x194 0x33  /* P9.29 - spi1_d0, MODE3 | INPUT_PULLUP */
          0x198 0x13  /* P9.30 - spi1_d1, MODE3 | OUTPUT_PULLUP */
          0x190 0x33  /* P9.31 - spi1_sclk, MODE3 | INPUT_PULLUP */
        >;
      };

      i2c1_pins: pinmux_i2c1_pins{
        pinctrl-single,pins = <
          0x15C 0x72  /* P9.17 - i2c1_scl, MODE2 | INPUT_PULLUP (bi-dir)*/
          0x158 0x72  /* P9.18 - i2c1_sda, MODE2 | INPUT_PULLUP (bi-dir)*/
        >;
      };

      i2c2_pins: pinmux_i2c2_pins{
        pinctrl-single,pins = <
          0x154 0x72  /* P9.21 - i2c1_scl, MODE2 | INPUT_PULLUP (bi-dir)*/
          0x150 0x72  /* P9.22 - i2c1_sda, MODE2 | INPUT_PULLUP (bi-dir)*/
        >;
      };
      pwm_pins: pinmux_pwm_pins {
        pinctrl-single,pins = <
          0x020 0x0C  /* P8.19 - ehrpwm2A, MODE4 */
        >;
      };
    };
  };

  /*----- pru enable -----*/
  fragment@1 {
    target = <&pruss>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&pruss_pins>;
    };
  };

  /*----- I2C1 ------*/
  fragment@2 {
    target = <&i2c1>;
    __overlay__ {
      #address-cells = <1>;
      #size-cells = <1>;
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&i2c1_pins>;
      clock-frequency = <400000>;
    };
 };

  /*----- I2C2 ------*/
  fragment@3 {
    target = <&i2c2>;
    __overlay__ {
      #address-cells = <1>;
      #size-cells = <1>;
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&i2c2_pins>;
      clock-frequency = <400000>;
    };
 };

  /*------ SPI settings -----*/
  fragment@4 {
    target = <&spi1>;
    __overlay__ {
      #address-cells = <1>;
      #size-cells = <0>;
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&spi_pins>;
      spidev@1 {
        spi-max-frequency = <24000000>;
        reg = <0>;
        compatible = "linux,spidev,openWearable";
      };
    };
  };

  /*------ PWM enable ------*/
  fragment@5 {
    target = <&epwmss2>;
    __overlay__ {
      status = "okay";
    };
  };
  fragment@6 {
    target = <&ehrpwm2>;
    __overlay__ {
      status = "okay";
      pinctrl-names = "default";
      pinctrl-0 = <&pwm_pins>;
    };
  };
  fragment@7 {
    target = <&ocp>;
    __overlay__ {

      #address-cells = <1>;
      #size-cells = <1>;

      openwearable {
        compatible = "openwearable";
        status = "okay";

        pinctrl-names = "default";
        pinctrl-0 = <&pwm_pins>;

        pwms = <&ehrpwm2 0 500000 0>;
        pwm-names = "openwearable";

        pwm-frequency = <9250>;
        pwm-duty-cycle = <50>;

        default-brightness = <35>;

      };
    };
  };
};


